@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-image: url('p1.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

<div class="row justify-content-center align-items-center">
    <div class="col-md-6 text-center">


            
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
    </div>

    
</div>